<div class="js-items-stats">
  <ul> <h3>Item stats</h3>
    <li>Magic Damage: <span class="js-flatMagicDamage" data-statsAmount="0"></span> </li>
    <li>Physical Damage: <span class="js-flatPhysicalDamage" data-statsamount="0"></span> </li>
    <li>% Attack Speed: <span class="js-percentAttackSpeed" data-statsamount="0"></span> </li>
    <li>Crit Chance: <span class="js-flatCritChance" data-statsamount="0"></span> %</li>
    <li>% Life Steal: <span class="js-percentLifeSteal" data-statsamount="0"></span> </li>
    <li>Armor: <span class="js-flatArmor" data-amount="0"></span> </li>
    <li>Magic Resist: <span class="js-flatSpellBlock" data-statsamount="0"></span> </li>
    <li>HP: <span class="js-flatHPPool" data-statsamount="0"> </span> </li>
    <li>HP Regen: <span class="js-flatHPRegen" data-statsamount="0"></span> </li>
    <li>Mana: <span class="js-flatMPPool" data-statsamount="0"></span> </li>
    <li>Movement Speed: <span class="js-flatMovementSpeed" data-statsamount="0"></span> </li>
    <li>% Movement Speed: <span class="js-percentMovementSpeed" data-statsamount="0" ></span> </li>
  </ul> 
 
</div>
<div class="js-backpack">
</div>

<div class="js-itemlist">
  <% @items.sort_by!{|it| it.name }.each do | item | %>
    <img class="js-item" src=<%="http://ddragon.leagueoflegends.com/cdn/6.5.1/img/item/#{item.image['full']}" %> data-id=<%= item.id%> data-stats="<%="#{item.stats}" %>" data-tags="<%= "#{item.tags}"%>" data-name="<%= "#{item.name}" %>" data-tags="<%= "#{item.tags}" %>" data-description="<%= "#{item.description}"%>" title="<%= "#{item.sanitizedDescription}"%>" data-image="<%= "#{item.image['full']}" %>">
  <% end %>
  
</div>
