<article class="main-wrapper col-md-10">
  <div class="champions-grid">
    
      <% @champions.sort_by{|champ| champ.name }.each do | champion | %>
        <div class="js-champion-square champion-square">
          <a href=<%= champion_path(champion.api_id) %> class="js-hi"><img class="champions-grid-main" src=<%="http://ddragon.leagueoflegends.com/cdn/#{@version}/img/champion/#{champion.image}" %> alt="Link to <%= champion.name%> profile" title="<%="#{champion.name}, #{champion.title}" %>" > </a>
          <div class="js-champ-name-box champion-square-namebox"><span class="champion-square-name"><%= champion.name%></span></div>
        </div>
      <% end %>
      
  </div>
</article>