<article class="main-wrapper col-md-10">
  <div class="champion-wrapper">
    <div class="champ-splast-wrapper" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%="#{@champion.key}_0.jpg"%>)"> 
      <div class="profile-champ-info">
        <span class="profile-champion-name"><%="#{@champion.key}"%>,</span> 
        <span class="profile-champion-title"> <%= "#{@champion.title.downcase}"%></span> 
        <p class="profile-champion-tags">Champion Type:
          <% @champion.tags.each do |tag| %> -
          <%= tag %>
          <%end%>
        </p>
        <img class="profile-champion-icon" src=<%="http://ddragon.leagueoflegends.com/cdn/#{@version}/img/champion/#{@champion.image}" %>>
        <span class="withe">Champion stats at Level <input type="number" min="1" max="18" name="champ-lv" size="40" class="js-champlv numcolor" 
          size="30" value="1"></span>
      </div>
    </div>
    <div class="champ-stats">
      <ul class="champ-stats-ul row"> 
          
        <li>Attack damage: 
          <span id="champ-attackdamage" data-stat="<%= @champion.stats['attackdamage']%>"
          value="<%= @champion.stats['attackdamage']%>" data-finalStats="0.0">
            <%= @champion.stats['attackdamage']%></span>
        </li>
        <li>Attack damage x lv: 
          <span id="champ-attackdamageperlevel" data-stat="<%= @champion.stats['attackdamageperlevel']%>"
          value="<%= @champion.stats['attackdamageperlevel']%>"> 
            <%= @champion.stats['attackdamageperlevel']%></span>
        </li>
        <li>Critic damage: 
          <span id="champ-crit" data-stat="<%= @champion.stats['crit']%>"
          value="<%= @champion.stats['crit']%>" data-finalStats="0.0">
            <%= @champion.stats['crit']%></span>
        </li>
        <li>Critic damage x lv: 
          <span id="champ-critperlevel" data-stat="<%= @champion.stats['critperlevel']%>"
          value="<%= @champion.stats['critperlevel']%>">
            <%= @champion.stats['critperlevel']%></span>
        </li>
        <li>Critic chance: 
          <span id="champ-critchance" data-stat="0.0"
          value="0.0" data-finalStats="0.0">0.0</span> 
        </li>
        <li>Critic chace x lv: 
          <span id="champ-critchanceperlevel" data-stat="0.0"
          value="0.0" data-finalStats="0.0">0.0</span> 
        </li>
        <li>Armor: 
          <span id="champ-armor" data-stat="<%= @champion.stats['armor']%>" 
          value="<%= @champion.stats['armor']%>" data-finalStats="0.0">
            <%= @champion.stats['armor']%></span>
        </li>
        <li>Armor x lv: 
          <span id="champ-armorperlevel" data-stat="<%= @champion.stats['armorperlevel']%>"
          value="<%= @champion.stats['armorperlevel']%>">
            <%= @champion.stats['armorperlevel']%></span>
        </li>
        <li>Magic resistance: 
          <span id="champ-spellblock" data-finalStats="0.0" data-stat="<%= @champion.stats['spellblock']%>"
          value="<%= @champion.stats['spellblock']%>">
            <%= @champion.stats['spellblock']%></span>
        </li>
        <li>Magic resistance x lv: 
          <span id="champ-spellblockperlevel" data-stat="<%= @champion.stats['spellblockperlevel']%>"
          value="<%= @champion.stats['spellblockperlevel']%>">
            <%= @champion.stats['spellblockperlevel']%></span>
        </li>
        <li>Hp: 
          <span id="champ-hp" data-stat="<%= @champion.stats['hp']%>"
          data-finalStats="0.0" value="<%= @champion.stats['hp']%>">
            <%= @champion.stats['hp']%></span>
        </li>
        <li>Hp x lv: 
          <span id="champ-hpperlevel" data-stat="<%= @champion.stats['hpperlevel']%>"
          value="<%= @champion.stats['hpperlevel']%>">
            <%= @champion.stats['hpperlevel']%></span>
        </li>
        <li>Hp regen: 
          <span id="champ-hpregen" data-stat="<%= @champion.stats['hpregen']%>" 
          data-finalStats="0.0" value="<%= @champion.stats['hpregen']%>">
            <%= @champion.stats['hpregen']%></span>
        </li>
        <li>Hp regen x lv: 
          <span id="champ-hpregenperlevel" data-stat="<%= @champion.stats['hpregenperlevel']%>"
          value="<%= @champion.stats['hpregenperlevel']%>">
            <%= @champion.stats['hpregenperlevel']%></span>
        </li>
        <li>Move Speed: 
          <span id="champ-movespeed" data-stat="<%= @champion.stats['movespeed']%>"
          data-finalStats="0.0" value="<%= @champion.stats['movespeed']%>">
          <%= @champion.stats['movespeed']%></span>
        </li>
        <li>Resources:
          <span id="champ-mp" data-stat="<%= @champion.stats['mp']%>"
          data-finalStats="0.0" value="<%= @champion.stats['mp']%>">
            <%= @champion.stats['mp']%></span>
        </li>
        <li>Resources x lv: 
          <span id="champ-mpperlevel" data-stat="<%= @champion.stats['mpperlevel']%>"
          value="<%= @champion.stats['mpperlevel']%>">
            <%= @champion.stats['mpperlevel']%></span>
        </li>
        <li>Resources regen: 
          <span id="champ-mpregen" data-stat="<%= @champion.stats['mpregen']%>"
          data-finalStats="0.0" value="<%= @champion.stats['mpregen']%>">
            <%= @champion.stats['mpregen']%></span>
        </li>
        <li>Resources regen x lv: 
          <span id="champ-mpregenperlevel" data-stat="<%= @champion.stats['mpregenperlevel']%>"
          value="<%= @champion.stats['mpregenperlevel']%>">
            <%= @champion.stats['mpregenperlevel']%></span>
        </li>
        <li>Magic power: 
          <span id="champ-magicpower" data-stat="0.0" value="0.0">0.0</span></li>
        <!-- <li>Magic power x lv: 
          <span id="champ-magicpowerperlevel" data-stat="0.0" value="0.0">0.0</span></li>
        <li>Flat Magic penetration: 
          <span id="champ-fmagicpen" data-stat="0.0" value="0.0">0.0</span></li>
        <li>% Magic penetration: 
          <span id="champ-xcentmagicpen" data-stat="0.0" value="0.0">0.0</span> %</li> 
        <li>Flat Armor penetration: 
          <span id="champ-farmorpem" data-stat="0.0" value="0.0">0.0</span></li>
        <li>% Armor penetration: 
          <span id="champ-xcentarmorpen" data-stat="0.0" value="0.0">0.0</span> %</li> 
        <li> ColDown Reduction: 
          <span id="champ-cdreduction" data-stat="0.0" value="0.0">0.0</span> %</li>  -->
          <li>Resource Type:
            <span id="champ-resourcetype" data-partype="<%= @champion.partype %>">
            <%= @champion.partype %></span></li> 
      </ul>
    </div>
  <div class="items-wrapper">
     <%= render "items/show" %>
  </div>
</article>
